body{
    background-color: #fbfbfb;
}

li{
    list-style: none;
}

main{
    width: 70%;
    padding: 20px;
}

article{
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 20px;
}
article h3{
    background-color: #e2e2e2;
    padding: 10px;
    margin-bottom: 10px;
}
article section{
    padding: 10px;
}

aside{
    width: 30%;
    padding: 20px;
}

aside section{
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 20px;
}

aside section ul,
aside section label {
    padding-left: 20px;
}

aside section li{
    line-height: 1.8;
}

aside h3{
    background-color: #e2e2e2;
    padding: 10px;
    margin-bottom: 10px;
}